<ion-view view-title="Map">
  <ion-content>
    <h1>Map</h1>
    {{coords.latitude}}, {{coords.longitude}}
  

<map center="{{coords.latitude}}, {{coords.longitude}}" zoom="13" 
disable-default-u-i="true">

<marker ng-repeat="bikeStation in bikeStations"
    
    position="{{[bikeStation.position.lat,bikeStation.position.lng]}}"

</marker>

</map>




  </ion-content>
</ion-view>
